data_gen_file.sql
vendor/
storage/*
/public/uploads/*
/config/env.prod.php
!/public/uploads/.gitkeep
!/public/uploads/**/
!/public/uploads/**/.gitkeep
/public/uploads/product_imgs/*
/public/uploads/profile_pics/*