.category-bar{
    display: flex;
    border-bottom: 0px solid black;
}

.category-bar ul{
    display: flex;
    margin-right: 15px;
    list-style: none;
    width: 100%;
    justify-content: center;
    gap: 5%;
}

.category-link{
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2em;
}