.category-bar {
    display: flex;
    border-bottom: 0px solid var(--text-colour-dark);
    box-sizing: border-box;
}

.category-bar ul {
    display: flex;
    margin-right: 15px;
    list-style: none;
    width: 100%;
    justify-content: center;
    gap: 5%;
    box-sizing: border-box;
    padding: 0 1rem;
}

.category-link {
    text-decoration: none;
    color: var(--text-colour-dark);
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    width: fit-content;
}

@media (max-width: 1200px) {
    .category-bar ul {
        margin-right: 8px;
    }

    .category-link {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .category-bar ul {
        margin-right: 4px;
        gap: 4%;
    }

    .category-item {
        line-height: 0.8em;
    }
    .category-link {
        font-size: 0.8rem;
        line-height: 0.8em;
    }
}

@media (max-width: 480px) {
    .category-bar ul {
        gap: 3%;
    }

    .category-link {
        font-size: 0.6rem;
    }
}
