.category-bar {
    display: flex;
    border-bottom: 0px solid var(--text-colour-dark);
    box-sizing: border-box;
}

.category-bar ul {
    display: flex;
    margin-right: 15px;
    list-style: none;
    width: 100%;
    justify-content: center;
    gap: 5%;
    box-sizing: border-box;
    padding: 0 1rem;
}

.category-link {
    display: block;
    text-decoration: none;
    color: var(--text-colour-dark);
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    width: fit-content;
}

.category-link:hover {
    color: var(--primary-colour);
}

.category-link.selected {
    color: var(--highlight-colour);
}

@media (max-width: 1200px) {
    .category-bar ul {
        margin-right: 8px;
    }

    .category-link {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .category-bar ul {
        gap: 5%;
        margin: 0.4rem;
        margin-right: 4px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        box-sizing: border-box;
        justify-content: start;
    }

    .category-item {
        line-height: 1rem;
    }

    .category-link {
        font-size: 1rem;
        line-height: 1rem;
        max-height: 2rem;
        flex-shrink: 0;
        width: auto;
    }
}