@import url("toast.css");

:root {
    /* Colour variables */
    /* Hex format */
    --primary-colour: #27671c;
    --highlight-colour: #ebb435;
    --background-colour: rgb(248, 248, 248);
    --text-colour-light: rgb(248, 248, 248);
    --text-colour-dark: #464646;
    --salient-colour: #1f990a;
    --off-bg-colour: #f4f4f4;
    --dark-bg-colour: #cdcdcd;
    --error-colour: #cc0000;
    --disabled-colour: rgb(128, 126, 126);

    /* RGB format */
    --primary-colour-rgb: 39, 103, 28;
    --highlight-colour-rgb: 235, 180, 53;
    --text-colour-dark-rgb: 0, 0, 0;
    --text-colour-light-rgb: 255, 255, 255;
    --error-colour-rgb: 204, 0, 0;

    /* Other constants */
    --navbar-height: 80px;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", "Segoe UI", "Verdana", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-colour);
}

main {
    flex: 1;
}

.salient {
    background-color: var(--salient-colour);
}

.light-text {
    color: rgba(var(--text-colour-dark-rgb), 0.6);
}

.light-fill {
    fill: rgba(var(--text-colour-dark-rgb), 0.6);
}

.centre-content {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    background: linear-gradient(
        to bottom left,
        var(--primary-colour) 40%,
        rgba(var(--highlight-colour-rgb), 0.4)
    );
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    text-align: center;
    height: 60px;
    justify-content: space-between;
    padding: 0 15%;
}

.footer .icons {
    display: flex;
    gap: 1.6rem;
}

.footer .icons svg {
    width: 1.8rem;
    fill: var(--text-colour-light);
    fill-opacity: 0.7;
}

.footer .text {
    text-wrap: nowrap;
    opacity: 0.7;
}

.loading {
    width: 1.2em;
    height: 1.2em;
    border: 2px solid transparent;
    border-top: 2px solid var(--primary-colour);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    opacity: 1;
}

[hidden] {
    display: none !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .footer {
        padding: 0 8%;
    }

    .footer .icons {
        gap: 0.8rem;
    }

    .footer .icons svg {
        width: 1.4rem;
    }

    .footer .text {
        font-size: 0.8rem;
    }
}
