.search-bar-area {
    width: 100%;
    margin: 32px 0;
    transform: translateX(-20px);
    position: relative;
    z-index: 2;
}

.featured-products-area {
    width: 100%;
    margin: 32px 0;
}

@media (max-width: 768px) {
    .search-bar-area {
        width: 100%;
        margin: 20px 0;
        transform: translateX(0);
    }

    .featured-products-area {
        margin: 20px 0;
    }
}