@import url("sidebar.css");

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;

    background: linear-gradient(to bottom right,
            var(--primary-colour) 40%,
            rgba(var(--highlight-colour-rgb), 0.3));
    background-color: var(--primary-colour);
}

.navbar-logo {
    display: inline-block;
    margin: 10px 20px;
    width: 140px;
    position: relative;
}

.navbar-logo img {
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
    gap: 1.6rem;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    position: relative;
    text-decoration: none;
}

.nav-text {
    text-decoration: none;
    color: var(--text-colour-light);
}

.nav-link .nav-btn {
    color: var(--text-colour-light);
    padding: 6px 16px 8px 16px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.nav-link a {
    position: relative;
}

.nav-link svg {
    fill: var(--off-bg-colour);
    width: 2rem;
    transform: translateY(20%);
    position: relative;
}

.nav-link-mobile {
    display: none;
}

.cart-nav-link .cart-count {
    width: 0.9em;
    height: 0.9em;
    font-size: 0.8em;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30%;
    right: -5%;
    background-color: var(--highlight-colour);
    color: var(--text-colour-dark);
    border-radius: 50%;
}

.navbar .salient {
    background-color: var(--salient-colour);
}

.nav-link:hover {
    filter: brightness(115%);
}

#navbar-offset {
    width: 100%;
    height: var(--navbar-height);
}

.user-profile .img-container {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid var(--text-colour-dark);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    transform: translateY(5%);
}

.user-profile img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav-link.user-profile:hover {
    filter: brightness(105%);
}

/* Hamburger Icon */

#hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
    gap: 5px;
    box-sizing: border-box;
}

#hamburger span {
    height: 4px;
    width: 30px;
    background: var(--off-bg-colour);
    border-radius: 2px;
}

/* Staff navbar */

.navbar {
    filter: grayscale(20%);
}

.navbar .navbar-logo h3 {
    position: absolute;
    display: inline-block;
    margin: 0.1rem;
    left: 100%;
    top: 40%;
    color: var(--highlight-colour);
    white-space: nowrap;
}

.navbar .staff-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.navbar .staff-name {
    color: var(--off-bg-colour);
    margin-left: 1rem;
}

.navbar .staff-icon {
    fill: var(--off-bg-colour);
    width: 1.8rem;
    height: 1.8rem;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 0;
    }

    .navbar-logo {
        margin: 5px 10px;
        width: 90px;
    }

    #hamburger {
        display: flex;
    }

    .navbar .show-mobile-sidebar {
        position: fixed;
        top: var(--navbar-height);
        right: 0;
        height: calc(100vh - var(--navbar-height));
        width: 250px;
        flex-direction: column-reverse;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;

        background: linear-gradient(30deg,
                var(--primary-colour) 70%,
                rgba(var(--highlight-colour-rgb), 0.3));
        background-color: var(--primary-colour);
    }

    .navbar ul {
        padding: 0;
        gap: 0.6rem;
        margin-right: 0.6rem;
    }

    .show-mobile-sidebar .navbar ul {
        gap: 1rem;
        margin-right: 0.8rem;
        padding: 0;
    }

    .nav-link {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 0;
        line-height: 1.4em;
    }

    .nav-text {
        margin-left: 0.6em;
        text-decoration: none;
    }

    .nav-link .nav-btn {
        padding: 8px;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 0.9rem;
    }

    .nav-link svg {
        width: 2rem;
        transform: translateY(0);
    }

    .nav-link-mobile {
        display: inline-block;
    }

    .show-mobile-sidebar.active {
        transform: translateX(0);
    }

    .navbar .show-mobile-sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.2rem;
        padding-top: 0.4rem;
        gap: 1.5rem;
    }

    .user-profile {
        pointer-events: none;
        height: 3rem;
        display: flex;
        align-items: center;
    }

    /* Order nav links for mobile layout */
    .show-mobile-sidebar li:nth-child(1) {
        order: 5;
    }

    .show-mobile-sidebar li:nth-child(2) {
        order: 4;
    }

    .show-mobile-sidebar li:nth-child(3) {
        order: 3;
    }

    .show-mobile-sidebar li:nth-child(4) {
        order: 2;
    }

    .show-mobile-sidebar li:nth-child(5) {
        order: 1;
    }
}