@import url("globals.css");

.navbar{
    background-color: var(--primary-colour);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    margin: none;
    padding: 0;
    position: fixed;    
    z-index: 10;
}

.navbar-logo{
    display: inline-block;
    margin: 10px 15px;
    width: 140px;
}

.navbar-logo img{
    width: 100%;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 15px;
    gap: 15px;
}

.nav-link{
    display: inline-block;
    background-color: var(--primary-colour);
    text-decoration: none;
    color: var(--text-colour-light);
    padding: 6px 16px 8px 16px;
    border: 2px solid var(--highlight-colour);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;    
    font-family: inherit;
    font-size: 20px;
}

.salient {
    background-color: var(--salient-colour);
}

.nav-link:hover{
    filter: brightness(115%);
}

#navbar-offset{
    width: 100%;
    height: var(--navbar-height);
}