.search-bar {
    width: 1000px;
    height: 45px;
    border: 2px solid var(--text-colour-dark);
    display: grid;
    grid-template-columns: 20% 1fr 50px 18%;
    font-size: 18px;
    border-image: linear-gradient(90deg, var(--primary-colour), var(--highlight-colour), var(--primary-colour)) 1;
}

.search-bar > div {
    height: 100%;
    font-size: 1.2em;
}

.search-bar .dropdown {
    display: flex;
    position: relative;
    background-color: var(--primary-colour);
    align-items: center;
}

.search-bar .dropdown button {
    appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 100%;
    padding: 0 0 0 0.67em;
    border: none;
    font-size: inherit;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
}

.search-bar .dropdown .dropdown-options {
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 2px 2px 5px darkgray;
    display: none;
}

.search-bar .dropdown-options .option:hover {
    filter: brightness(90%);
    font-weight: 600;
}

.search-bar .dropdown .dropdown-options.show {
    display: block;
}

.search-bar .dropdown-options .option {
    display: block;
    color: var(--text-colour-dark);
    background-color: var(--off-bg-colour);
    padding: 0.5em 0.9em;
    text-decoration: none;
    cursor: pointer;
}

.search-bar .arrow {
    max-width: 18px;
    max-height: 15px;
    min-width: 15px;
    min-height: 13px;
}

.search-bar .category .arrow {
    color: var(--highlight-colour);
}

.search-bar .search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: inherit;
}

.search-bar .search-field input {
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg-colour);
    box-sizing: border-box;
    border: none;
    font-size: 1.2em;
    padding: 0 0.67em;
    outline: none;
}

.search-bar .search-field input:focus {
    filter: brightness(92%);
}

.search-bar .search-button {
    background-color: var(--primary-colour);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-button svg {
    width: 60%;
    fill: var(--highlight-colour);
    cursor: pointer;
}

.search-bar .search-button.disabled svg {
    fill: var(--disabled-colour);
}

.search-bar .search-button.disabled {
    cursor: default;
}

.search-bar .price {
    background-color: var(--dark-bg-colour);
    font-size: inherit;
}

.search-bar .price button {
    background-color: var(--dark-bg-colour);
    font-size: 1.2em;
    padding: 0 0.67em;
    color: var(--text-colour-dark);
}

.search-bar .price .range-selector {
    display: flex;
    justify-content: space-around;
    padding: 0.3em 0.5em;
    align-items: center;
    gap: 8px;
    background-color: var(--off-bg-colour);
}

.search-bar .price .label {
    width: 25%;
}

.search-bar .price input {
    flex: 1;
    min-width: 0;
    height: 25px;
    padding: 0 0.3em;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
}

.search-bar .price .rand-symbol {
    margin-right: -4px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .search-bar {
        width: 750px;
        grid-template-columns: 24% 1fr 50px 18%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .search-bar {
        grid-template-columns: 32% 1fr 40px;
        width: 90%;
        height: 40px;
        font-size: 12px;
    }

    .search-item .category {
        padding-left: 5px;
    }

    .search-bar .arrow {
        width: 8px;
    }

    .search-bar .price {
        display: none;
    }
}
