@import url("product-card.css");

.product-row {
    width: 85%;
}

.product-row-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.product-row-inner {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow: hidden;
    padding: 0.5em 2px;
}

.scroll-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: var(--background-colour);
    opacity: 0.9;
    border: none;
    padding: 0.7em;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.scroll-btn svg {
    font-size: 36px;
    fill: var(--text-colour-dark);
    width: 28px;
    opacity: 0.7;
}

.scroll-btn.left {
    left: 1em;
}

.scroll-btn.right {
    right: 1em;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
    .product-row {
        width: 92%;
    }

    .scroll-btn {
        padding: 0.5em;
    }

    .scroll-btn svg {
        width: 22px;
    }

    .scroll-btn.left {
        left: 0.6em;
    }

    .scroll-btn.right {
        right: 0.6em;
    }

    .product-row-inner {
        gap: 0.7rem;
    }
}
