.product-card {
    width: 15%; /* default */
    flex-shrink: 0;
    background: var(--off-bg-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0.7em;
    aspect-ratio: 2/3;
    color: var(--text-colour-dark);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    text-decoration: none;
}

.product-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.product-card .image-container{
    width: auto;
    aspect-ratio: 4/3;
    background-color: var(--dark-bg-colour);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.product-card img{
    width: 100%;
    object-fit: cover;
}

.product-card .discount-badge{
    position: absolute;
    padding: 2px 5px;
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    border: 1px solid black;
    border-radius: 5px;
    left: 0.3em;
    top: 0.3em;
}

.product-card p {
    margin: 0;
}

.product-card .name{
    font-size: 1.2em;
    height: 11%;
    font-weight: 600;
}

.product-card .desc{
    display: block;
    padding: 1em 0;
    font-size: 1em;
    color: var(--disabled-colour);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card .bottom-row{
    width: 100%;
    height: 1.5em;
    position: relative;
    padding: 20px 0 10px 0;
}

.product-card .original-price{
    text-decoration: underline .1em;
    text-underline-offset: -.4em;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.12em;
    font-size: 0.9em;
    color: rgb(70, 70, 70);
    position: absolute;
    bottom: calc(9px + 0.9em);
    margin-bottom: 5px;
}

.product-card .price{
    margin: 0;
    position: relative;
}