.content-column {
    margin: 20px 20%;
    font-size: 18px;
}

/* ================= Cart Section ================= */

.cart-section {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-bottom: 10em;
}

.cart-section .cart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 2em;
    flex: 1;
}

/* ================= Cart Item ================= */

.cart-item {
    width: 100%;
    background-color: var(--off-bg-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
    outline: 1px solid transparent;
    padding: 0.7em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.cart-item .image-container {
    width: 30%;
    aspect-ratio: 3/2;
    overflow: hidden;
}

.cart-item img {
    width: 100%;
}

.cart-item .product-info {
    padding: 1em 0;
    flex: 1;
    box-sizing: content-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1em;
}

.cart-item .product-info p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.cart-item .product-info .name {
    font-size: 1em;
    font-weight: bold;
}

.cart-item .discount-badge {
    padding: 2px 5px;
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    border-radius: 5px;
    width: fit-content;
}

.cart-item .item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.cart-item .remove-item {
    width: 1.2em;
    fill: var(--disabled-colour);
}

.cart-item .remove-item:hover {
    fill: var(--error-colour);
}

.cart-item .item-actions .quantity-selector {
    margin: 1em 0;
}

.cart-item #qty[type="number"] {
    margin-top: 0.2em;
    width: 2em;
    transform: scale(1.1);
    outline: none;
    font-size: 1.2em;
    border: none;
    box-shadow: none;
    padding: 2px 0.2em;
}

/* ================= Empty Cart ================= */

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 250px;
}

.cart-empty p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--disabled-colour);
}

.cart-empty .btn {
    padding: 0.5em 1em;
    background: var(--primary-colour);
    color: var(--text-colour-light);
    border: none;
    text-decoration: none;
    border-radius: 1em;
    font-size: 1em;
}

.cart-empty .btn:hover {
    filter: brightness(110%);
}

/* ================= Checkout Card ================= */

.checkout-card {
    width: 300px;
    height: fit-content;
    background-color: var(--off-bg-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1em;
}

.checkout-card .checkout-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
}

.checkout-card .checkout-btn {
    width: 100%;
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    text-decoration: none;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
    padding: 0.4em;
    font-size: 1.2em;
    box-sizing: border-box;
}
