.products-content-wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-columns: clamp(220px, 18vw, 320px) 1fr;
}

.filter-panel {
    padding: 1em;
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.filter-panel>div,
button {
    margin: 10px 0;
}

.filter-panel>div {
    width: 92%;
}

.filter-panel>div h1 {
    text-align: left;
    margin: 10px 0;
}

/* ==================== SEARCH BAR ====================  */

.search-bar {
    height: 2.2em;
    min-height: 2.2em;
    flex-shrink: 0;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 40px;
    margin-top: 0;
}

.search-bar .search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.search-bar .search-field input {
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg-colour);
    box-sizing: border-box;
    border: none;
    font-size: 1.2em;
    padding: 0 8px;
    outline: none;
}

.search-bar .search-field input:focus {
    filter: brightness(92%);
}

.search-bar .search-button {
    background-color: var(--primary-colour);
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-button svg {
    width: 60%;
    fill: var(--highlight-colour);
    cursor: pointer;
}

.search-bar .search-button:active{
    opacity: 60%;
}

.search-bar .search-button.disabled svg {
    fill: var(--disabled-colour);
    cursor: default;
}

.search-bar .search-button.disabled {
    pointer-events: none;
}

/* ==================== APPLY FILTER BUTTON ====================  */

.apply-filter-btn {
    display: inline-block;
    background-color: var(--background-colour);
    text-decoration: none;
    color: var(--primary-colour);
    padding: 6px 16px 8px 16px;
    margin-bottom: 0;
    border: 2px solid var(--primary-colour);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3em;
}

.apply-filter-btn.disabled {
    color: var(--disabled-colour);
    border-color: var(--disabled-colour);
    cursor: default;
    pointer-events: none;
}

.apply-filter-btn:active{
    background-color: var(--primary-colour);
    opacity: 0.3;
    color: black;
    border: 2px solid black;
}

/* ==================== SELECT PRICE OPTIONS ====================  */

.price-options {
    margin: 0 4%;
    font-size: 1.4em;
}

.price-options .range-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
    width: 85%;
}

.price-options .range-selector label {
    width: 25%;
    font-size: inherit;
}

.price-options .range-selector>div {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 75%;
}

.price-options .range-selector>div span {
    margin: 0 5px;
    font-size: inherit;
}

.price-options .range-selector input {
    display: inline-block;
    width: 65%;
    padding: 0 5px;
    font-family: inherit;
    border-radius: 5px;
    font-size: 0.9em;
}

/* ==================== SELECT CATEGORY ====================  */

.category-list .option {
    display: block;
    color: black;
    background-color: var(--background-colour);
    padding: 0.3em 0.8em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4em;
    user-select: none;
}

.category-list .option:hover {
    filter: brightness(90%);
    font-weight: 600;
}

.category-list .option.active {
    background-color: var(--dark-bg-colour);
    font-weight: 600;
}

.category-list .option.active:hover {
    filter: none;
}

/* ==================== SELECT MIN RATING ====================  */

.star-rating {
    display: flex;
    gap: 1px;
    cursor: pointer;
    user-select: none;
}

.star-rating .star-wrapper {
    position: relative;
    display: inline-block;
}

.star-rating .star {
    width: 2.4em;
    height: 1.8em;
    position: relative;
    fill: gold;
}

.star-rating .star-wrapper.excluded .star {
    fill: var(--disabled-colour);
}

.star-rating .star-wrapper.excluded::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15%;
    right: 10%;
    height: 2px;
    background-color: rgb(49, 49, 49);
    transform: rotate(-45deg) translateY(-1px);
    transform-origin: center;
    pointer-events: none;
}

.rating-section label {
    font-size: 1em;
    white-space: nowrap;
    font-family: inherit;
    display: block;
    min-height: 20px;
}

/* ==================== PRODUCTS CATALOGUE ====================  */

.products-catalogue {
    padding: 16px 24px;
    background-color: var(--background-colour);
}

.products-catalogue h1 {
    font-size: 1.3em;
    font-weight: normal;
}

.products-catalogue h1 span {
    font-size: 1.4em;
    font-weight: bold;
}

.products-grid {
    margin: 0 0 30px 0;
    display: grid;
    gap: 1.4em;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
}

.products-catalogue.empty h1{
    display: none;
}

.products-catalogue.empty .products-grid{
    display: none;
}

.products-catalogue .no-results {
    display: none;
}

.products-catalogue.empty .no-results{
    display: flex;
    width: 100%;
}

.products-catalogue.empty .no-results img{
    width: 40%;
    aspect-ratio: 1 / 1;;
    object-fit: cover;
}

.products-catalogue.empty .no-results img{
    object-fit: cover;
}

/* ==================== PAGE SELECTOR ====================  */

.page-selector {
    width: 300px;
    background-color: var(--background-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-selector .page-btn {
    font-size: 1.2em;
    padding: 5px 8px;
    background-color: var(--background-colour);
    border: 2px solid var(--disabled-colour);
    border-radius: 5px;
    cursor: pointer;
}

.page-selector .page-btn.active {
    border-color: var(--highlight-colour);
}

/* Media Queries */

@media (max-width: 900px) {
    .products-content-wrapper {
        grid-template-columns: 200px 1fr;
        padding-top: 10px;
    }

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-panel {
        font-size: 12px;
    }

    .filter-panel>div,
button {
    margin: 5px 0;
}

.category-list .option{
    padding: 0.2em 0.6em;
}
}

@media (max-width: 600px) {
    .products-content-wrapper {
        grid-template-columns: 1fr;
    }

    .filter-panel {
        display: none;
        font-size: 8px;
    }

    .filter-panel>div,
button {
    margin: 2px 0;
}

.category-list .option{
    padding: 0.15em 0.6em;
}
}