main {
    background-color: var(--background-colour);
    font-size: 18px;
}

/* ============= Search bar ============= */

.search-bar-area {
    width: 100%;
    margin: 32px 0;
    transform: translateX(-20px);
    position: relative;
    z-index: 2;
}

.content-column {
    margin: 20px 19%;
    font-size: inherit;
}

/* =============== Heading =============== */

.pricing .original-price {
    text-decoration: underline 0.1em;
    text-underline-offset: -0.4em;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.12em;
    font-size: 1em;
    color: rgb(70, 70, 70);
    position: absolute;
    top: -1em;
    margin-bottom: 5px;
}

.heading h1 {
    color: var(--text-colour-dark);
    margin: 0.6em 0;
}

.heading .pricing {
    position: relative;
    width: auto;
    height: 2em;
    margin: 0.6em 0;
    font-size: 1.2em;
    color: var(--primary-colour);
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 1em;
}

.discount-badge {
    padding: 0.1em 0.4em;
    font-size: 1em;
    font-weight: bold;
    height: fit-content;
    background-color: var(--highlight-colour);
    color: var(--text-colour-light);
    border: none;
    border-radius: 5px;
    font-style: italic;
    transform: translateY(5px);
}

.discount-badge span {
    position: relative;
    top: -2px;
}

/* ============ Images and Seller Card ============ */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto auto;
    column-gap: 4%;
}

.main-grid img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border: 2px solid var(--text-colour-dark);
}

.seller-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
}

.seller-card-wrapper.card-mobile {
    display: none;
}

.seller-card-wrapper .add-cart-btn {
    width: 100%;
    color: var(--text-colour-light);
    border-radius: 24px;
    cursor: pointer;
    padding: 0.6em;
    font-size: 1.4em;
}

.seller-card-wrapper .add-cart-btn .content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.seller-card-wrapper .add-cart-btn svg {
    width: 30px;
    fill: var(--text-colour-light);
}

.seller-card-wrapper .add-cart-btn.product-added {
    background-color: var(--background-colour);
    border: 2px solid var(--salient-colour);
    color: var(--primary-colour);
    pointer-events: none;
    cursor: default;
}

/* =============== Seller Card =============== */

.seller-card {
    width: 100%;
    border: 1px solid var(--background-colour);
    border-radius: 15px;
    overflow: hidden;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--text-colour-dark);
}

.seller-card .header {
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    padding: 0.8em;
    text-align: center;
}

.seller-card .header h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.seller-card .header .verified {
    font-size: 1em;
    font-weight: bold;
    color: var(--dark-bg-colour);
}

.seller-card .verified .tag {
    color: var(--highlight-colour);
}

.seller-card .details {
    padding: 0.9em;
}

.seller-card .details p {
    margin: 0 0 1.8em 0;
    font-size: 1.2em;
}

.seller-card .aligned-grid {
    width: 75%;
    display: grid;
    grid-template-columns: max-content auto;
    font-size: 1.2em;
    column-gap: 10px;
    row-gap: 5px;
    margin: 5px 0;
}

.seller-card .details .stat-name {
    color: var(--text-colour-dark);
}

.seller-card .details .stat-value {
    color: var(--primary-colour);
    font-weight: bold;
}

.seller-card .location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
    margin: 30px 0 20px 0;
}

.seller-card .location svg {
    width: 25px;
    height: 16px;
    fill: var(--text-colour-dark);
}

.seller-card .seller-products-link {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.seller-card .seller-products-link a {
    font-size: 1.4em;
    color: var(--primary-colour);
    text-decoration: underline;
    font-weight: bold;
}

.seller-card .cta a:hover {
    text-decoration: underline;
}

/* ============= Product Info Table ============= */

.product-info-table {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 8px;
    color: var(--text-colour-dark);
}

.product-description {
    border: 1px solid var(--disabled-colour);
    font-size: 1.2em;
}

.product-description .top-row {
    width: 100%;
    padding: 0.9em;
    box-sizing: border-box;
    font-size: inherit;
    display: flex;
    font-size: inherit;
    font-family: inherit;
    justify-content: space-between;
    border-bottom: 1px solid var(--disabled-colour);
}

.product-description .top-row svg {
    width: 1.4em;
    fill: var(--primary-colour);
}

.product-description h3 {
    padding: 0.9em;
    margin: 0;
    box-sizing: border-box;
}

.product-description p {
    width: 100%;
    margin: 0 0 0.5em 0;
    line-height: 1.6;
    padding: 0.9em;
    box-sizing: border-box;
}

.product-details {
    font-size: inherit;
    border-collapse: collapse;
    height: fit-content;
    border: 1px solid var(--disabled-colour);
    border-left: none;
}

.product-details tr {
    font-size: 1.2em;
    border-bottom: 1px solid var(--disabled-colour);
}

.product-details .name {
    border-right: 1px solid var(--disabled-colour);
    font-weight: bold;
    vertical-align: top;
}

.product-details td {
    padding: 0.5em;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .content-column {
        margin: 15px 10%;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-rows: auto auto;
        column-gap: 3%;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    main {
        font-size: 10px;
    }

    .search-bar-area {
        width: 100%;
        margin: 0.9em 0;
        transform: translateX(0px);
    }

    .content-column {
        margin: 12px 5%;
    }

    .seller-card-wrapper {
        display: none;
    }

    .main-grid {
        display: inline-block;
    }

    .seller-card-wrapper.card-mobile {
        display: flex;
        margin: 15px 5%;
    }

    .seller-card-wrapper .add-cart-btn {
        font-size: 1.8em;
    }

    .seller-card-wrapper.card-mobile .seller-card {
        width: 60%;
    }

    .product-info-table {
        display: flex;
        flex-direction: column;
    }

    .product-details {
        border-left: 2px solid var(--dark-bg-colour);
        border-top: none;
    }
}
