main {
    font-size: 18px;
    margin: 0 15%;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(80px, 200px));
    gap: 1em;
}

.page-heading {
    font-size: 4em;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    color: var(--highlight-colour);
}

.section-heading{
    font-size: 2em;
    color: var(--text-colour-dark);
}

.card {
    position: relative;
    background: var(--off-bg-colour);
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    user-select: none;
}

.card .switch-container {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.card h2 {
    margin: 0;
    margin-top: -20px;
    margin-left: -10px;
    font-size: 2em;
    font-weight: 400;
}

.card h2 span {
    font-size: inherit;
}

.revenue-card {
    grid-column: 1 / span 2;
}

.revenue-card h2 {
    font-size: 2.5em;
}

.stat-value {
    font-size: 1.5rem;
    font-weight: bold;
}

.card .loading-overlay {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--off-bg-colour);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
}

/* =============== Chart =============== */

.chart-section {
    width: 100%;
    aspect-ratio: 2/1;
    padding: 3em;
    box-sizing: border-box;
    margin-top: 4em;
}

.chart-section .chart {
    width: 100%;
    height: 100%;
}

/* =============== Pending Sellers =============== */

.pending-sellers-section{
    margin: 2em 0 4em 0;
    font-size: inherit;
}

.seller-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6em;
}

.seller-card {
    border: 1px solid var(--dark-bg-colour);
    padding: 1em;
    margin-bottom: 1em;
    font-size: inherit;
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.seller-card h2 {
    margin: 0.2em 0;
}

.seller-card .email {
    color: var(--disabled-colour);
    font-size: 0.7em;
}

.seller-card .doc-previews {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

}

.doc-item {
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
}

.seller-card form {
    margin-top: 1.2em;
}