main {
    font-size: 18px;
    margin: 0 15%;
}

main > h1 {
    font-size: 4em;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    color: var(--highlight-colour);
}

.section-heading {
    font-size: 2em;
    color: var(--text-colour-dark);
    margin: 0.4em 0;
}

.product-row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    font-size: inherit;
}

.product-row-inner {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    padding: 0.5em 2px;
}

/* Seller Product Card */
.product-card {
    width: 25%;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto auto;
    gap: 0.4em;
    flex-shrink: 0;
    aspect-ratio: 3/5;
    position: relative;

    background-color: var(--off-bg-colour);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    outline: 1px solid transparent;
    padding: 0.7em;
    color: var(--text-colour-dark);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
}
hover,
.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 6px 8px;
    transform: translateY(-4px);
}

.product-card .image-container {
    width: auto;
    aspect-ratio: 4/3;
    background-color: var(--dark-bg-colour);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .discount-badge {
    position: absolute;
    padding: 2px 5px;
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    border: 1px solid var(--text-colour-dark);
    border-radius: 5px;
    left: 0.3em;
    top: 0.3em;
    font-size: 1.4em;
}

.product-card .name {
    font-size: inherit;
    font-weight: 600;
}

.product-card p {
    margin: 0;
    text-decoration: none;
}

.product-card .name p {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sales-info {
    font-size: 1em;
    color: var(--text-colour-dark);
}

.bottom-row {
    font-size: inherit;
    width: 100%;
    height: 1.5em;
    position: relative;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-row .original-price {
    text-decoration: underline 0.1em;
    text-underline-offset: -0.4em;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.12em;
    color: rgb(70, 70, 70);
    position: absolute;
    bottom: 1.8em;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.bottom-row .price {
    margin: 0;
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: 1.2em;
}

.product-card.create-new-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-colour-dark);
    user-select: none;
    cursor: pointer;
}

.plus-icon {
    font-size: 8em;
}

.product-card.create-new-card p {
    font-size: 1em;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.edit-button,
.delete-button {
    width: 45%;
    text-align: center;
    padding: 0.4em 0.8em;
    border: none;
    border-radius: 0.2em;
    text-decoration: none;
    color: var(--text-colour-light);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.edit-button {
    background-color: var(--salient-colour);
}

.delete-button {
    background-color: var(--error-colour);
}

.edit-button:hover {
    filter: brightness(90%);
}

.delete-button:hover {
    filter: brightness(90%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    main {
        font-size: 16px;
        margin: 0 12%;
    }

    .product-card {
        width: 30%;
        gap: 0.3em;
    }

    .product-card .bottom-row {
        padding: 8px 0 6px 0;
    }

    .edit-button,
    .delete-button {
        padding: 0.3em 0.6em;
        font-size: 0.8em;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    main {
        font-size: 12px;
        margin: 0 5%;
    }

    .product-row-inner {
        flex-wrap: wrap;
    }

    .product-card {
        width: 48%;
        gap: 0.1em;
    }

    .product-card .bottom-row {
        padding: 4px 0 3px 0;
    }

    /* .edit-button,
    .delete-button {
        padding: 0.3em 0.6em;
        font-size: 0.8em;
        font-weight: bold;
    } */
}
